<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,964},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>BigCityJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,481}}</string>
                <key>sourceSize</key>
                <string>{186,481}</string>
            </dict>
            <key>GoalMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,472},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{163,150}}</string>
                <key>sourceSize</key>
                <string>{215,202}</string>
            </dict>
            <key>Holdball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,485},{128,239}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{128,239}}</string>
                <key>sourceSize</key>
                <string>{202,257}</string>
            </dict>
            <key>Holdball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,244},{105,235}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{105,235}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>Holdball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{87,233}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{87,233}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>Holdball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,708},{115,232}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{115,232}}</string>
                <key>sourceSize</key>
                <string>{203,258}</string>
            </dict>
            <key>Holdball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{113,233}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{113,233}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>Holdball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,726},{111,234}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{111,234}}</string>
                <key>sourceSize</key>
                <string>{203,258}</string>
            </dict>
            <key>Holdball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,238},{117,233}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{117,233}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>JeremyPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{256,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,477}}</string>
                <key>sourceSize</key>
                <string>{256,477}</string>
            </dict>
            <key>OneStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,942},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>ScoreLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,237},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{148,151}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>TwoStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,963},{158,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,33}}</string>
                <key>sourceSize</key>
                <string>{158,33}</string>
            </dict>
            <key>ZeroStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,962},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,964},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,964},{72,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{72,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,54}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,964},{72,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,964},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>shootrelease_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,481},{97,234}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{97,234}}</string>
                <key>sourceSize</key>
                <string>{203,258}</string>
            </dict>
            <key>shootrelease_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,717},{105,233}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{105,233}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>shootrelease_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,473},{103,233}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{103,233}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>shootrelease_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{114,234}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{114,234}}</string>
                <key>sourceSize</key>
                <string>{202,258}</string>
            </dict>
            <key>shootrelease_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,237},{87,233}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{87,233}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>shootrelease_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,726},{105,235}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{105,235}}</string>
                <key>sourceSize</key>
                <string>{203,257}</string>
            </dict>
            <key>shootrelease_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,244},{128,239}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{128,239}}</string>
                <key>sourceSize</key>
                <string>{202,257}</string>
            </dict>
            <key>shootrelease_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{129,240}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{129,240}}</string>
                <key>sourceSize</key>
                <string>{203,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BasicSprite-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df7656a461c209cf952bc90d9ac7b64$</string>
            <key>textureFileName</key>
            <string>BasicSprite-hd.png</string>
        </dict>
    </dict>
</plist>
