<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigZombieJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,482}}</string>
                <key>sourceSize</key>
                <string>{364,482}</string>
            </dict>
            <key>GoalMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,240},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{163,150}}</string>
                <key>sourceSize</key>
                <string>{215,202}</string>
            </dict>
            <key>Holdball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,244},{95,240}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{95,240}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>Holdball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,486},{91,242}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{91,242}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>Holdball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{97,240}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{97,240}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>Holdball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,486},{113,236}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{113,236}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>Holdball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{119,236}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{119,236}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>Holdball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,730},{119,236}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{119,236}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>Holdball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,478},{109,232}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{109,232}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>JeremyPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{186,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,481}}</string>
                <key>sourceSize</key>
                <string>{186,481}</string>
            </dict>
            <key>OneStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,960},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>ScoreLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{148,151}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>TwoStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,968},{158,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,33}}</string>
                <key>sourceSize</key>
                <string>{158,33}</string>
            </dict>
            <key>ZeroStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,966},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,969},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{72,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,968},{72,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,54}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{72,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,969},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,969},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>shootrelease_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,724},{99,234}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{99,234}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,728},{113,236}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{113,236}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,730},{119,236}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{119,236}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,240},{99,236}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{99,236}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{83,240}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{83,240}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,244},{91,240}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{91,240}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,486},{93,242}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{93,242}}</string>
                <key>sourceSize</key>
                <string>{181,260}</string>
            </dict>
            <key>shootrelease_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,486},{94,240}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{94,240}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CitySprite-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf85cc0362e0e722e77ecb8d761b1121$</string>
            <key>textureFileName</key>
            <string>CitySprite-hd.png</string>
        </dict>
    </dict>
</plist>
