<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigChampJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{256,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,477}}</string>
                <key>sourceSize</key>
                <string>{256,477}</string>
            </dict>
            <key>GoalMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,782},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{163,150}}</string>
                <key>sourceSize</key>
                <string>{215,202}</string>
            </dict>
            <key>Holdball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{132,258}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{132,258}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>Holdball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{120,260}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,33},{120,260}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>Holdball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{111,258}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,35},{111,258}}</string>
                <key>sourceSize</key>
                <string>{231,302}</string>
            </dict>
            <key>Holdball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,476},{112,256}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,39},{112,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>Holdball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,238},{120,256}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,37},{120,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>Holdball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,114},{122,256}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,37},{122,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>Holdball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,476},{110,256}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,35},{110,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>JeremyPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,516}}</string>
                <key>sourceSize</key>
                <string>{262,516}</string>
            </dict>
            <key>OneStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,472},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>ScoreLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,767},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{148,151}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>TwoStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{158,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,33}}</string>
                <key>sourceSize</key>
                <string>{158,33}</string>
            </dict>
            <key>ZeroStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,264},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>beachball.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,424},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,947},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,947},{72,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,947},{72,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,54}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,947},{72,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,50}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,947},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>shootrelease_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,920},{100,256}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,38},{100,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,476},{110,256}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,37},{110,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,360},{114,256}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,38},{114,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,734},{110,256}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,39},{110,256}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{110,258}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,36},{110,258}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,520},{120,260}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,34},{120,260}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,264},{132,258}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{132,258}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
            <key>shootrelease_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,507},{132,258}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,33},{132,258}}</string>
                <key>sourceSize</key>
                <string>{230,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SexySprite-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d257a71dec85e5d51691e821ca979d4a$</string>
            <key>textureFileName</key>
            <string>SexySprite-hd.png</string>
        </dict>
    </dict>
</plist>
