<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigSexyJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,259}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{133,259}}</string>
                <key>sourceSize</key>
                <string>{153,259}</string>
            </dict>
            <key>GoalMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,405},{92,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{92,86}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Holdball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,377},{92,121}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{92,121}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>Holdball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,245},{90,122}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{90,122}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>Holdball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{84,121}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{84,121}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>Holdball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{70,122}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{70,122}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>Holdball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,337},{66,122}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,15},{66,122}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>Holdball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,227},{62,123}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{62,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>Holdball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{60,124}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{60,124}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>JeremyPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{183,241}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,28},{183,241}}</string>
                <key>sourceSize</key>
                <string>{255,281}</string>
            </dict>
            <key>OneStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,493},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>ScoreLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,441},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{85,87}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>TwoStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,493},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>ZeroStrikeMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,467},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,473},{38,23}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{38,23}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,442},{38,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,29}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,405},{38,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,35}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,442},{38,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,29}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,473},{38,23}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{38,23}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>shootrelease_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,187},{56,123}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{56,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>shootrelease_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{56,123}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{56,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>shootrelease_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,187},{66,123}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{66,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>shootrelease_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{70,123}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{70,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>shootrelease_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,291},{84,122}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{84,122}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>shootrelease_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,137},{88,123}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{88,123}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>shootrelease_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,255},{88,122}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{88,122}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>shootrelease_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,345},{94,121}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{94,121}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>zombieHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,441},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieSprite.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b96a4a426b21e3c0475570f6e13f2f2$</string>
            <key>textureFileName</key>
            <string>zombieSprite.png</string>
        </dict>
    </dict>
</plist>
