<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigBasicJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{255,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,477}}</string>
                <key>sourceSize</key>
                <string>{255,477}</string>
            </dict>
            <key>BigChampJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,485},{256,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,477}}</string>
                <key>sourceSize</key>
                <string>{256,477}</string>
            </dict>
            <key>BigCityJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{186,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,481}}</string>
                <key>sourceSize</key>
                <string>{186,481}</string>
            </dict>
            <key>BigSexyJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,516}}</string>
                <key>sourceSize</key>
                <string>{262,516}</string>
            </dict>
            <key>BigZombieJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{364,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,482}}</string>
                <key>sourceSize</key>
                <string>{364,482}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{186,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,192}}</string>
                <key>sourceSize</key>
                <string>{186,192}</string>
            </dict>
            <key>net.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,964},{72,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,44}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>scrollarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,190},{121,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{121,144}}</string>
                <key>sourceSize</key>
                <string>{171,196}</string>
            </dict>
            <key>scrollarrowclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,190},{121,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{121,144}}</string>
                <key>sourceSize</key>
                <string>{171,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlaySprite-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c1f2c125b7cde77a15366cc4f08ee6$</string>
            <key>textureFileName</key>
            <string>PlaySprite-hd.png</string>
        </dict>
    </dict>
</plist>
