<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigBasicJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{128,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,239}}</string>
                <key>sourceSize</key>
                <string>{128,239}</string>
            </dict>
            <key>BigChampJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,245},{129,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,239}}</string>
                <key>sourceSize</key>
                <string>{129,239}</string>
            </dict>
            <key>BigCityJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{94,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,241}}</string>
                <key>sourceSize</key>
                <string>{94,241}</string>
            </dict>
            <key>BigSexyJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,259}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{133,259}}</string>
                <key>sourceSize</key>
                <string>{153,259}</string>
            </dict>
            <key>BigZombieJeremy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{186,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,242}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{93,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,96}}</string>
                <key>sourceSize</key>
                <string>{93,96}</string>
            </dict>
            <key>net.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,486},{38,23}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{38,23}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>scrollarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,173},{74,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{74,84}}</string>
                <key>sourceSize</key>
                <string>{122,134}</string>
            </dict>
            <key>scrollarrowclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,97},{74,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{74,84}}</string>
                <key>sourceSize</key>
                <string>{122,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlaySprite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e634f2e701a817cceabe29926e8623f6$</string>
            <key>textureFileName</key>
            <string>PlaySprite.png</string>
        </dict>
    </dict>
</plist>
